{{ template "header" . }}
<main>
    
    <!-- Modal for Editing User -->
    <div class="modal fade" id="updateModal" role="dialog" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="updateModalLabel">Konfirmasi</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formUpdate">
                        <input type="hidden" name="_csrf" value="{{ .csrfToken }}">
                        <input type="hidden" name="id" id="edit_id">
                        <div class="mb-3">
                            <label for="confirm_name" class="form-label">Nama Barang</label>
                            <input type="text" class="form-control" id="confirm_name" name="name" required autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label for="confirm_url" class="form-label">Jasa Pengiriman</label>
                            <input type="text" class="form-control" id="confirm_url" name="url" required autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label for="edit_no_telepon" class="form-label">No Resi</label>
                            <input type="tel" maxlength="13" class="form-control" id="edit_no_telepon" name="no_telepon" required autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label for="confirm_alamat" class="form-label">Address</label>
                            <textarea class="form-control" id="confirm_alamat" name="alamat" rows="3" required autocomplete="off"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="confirm_ongkir" class="form-label">Ongkir</label>
                            <input type="text" class="form-control" id="confirm_ongkir" name="confirm_ongkir" readonly>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button id="button" type="submit" class="btn btn-primary">Konfirmasi</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content -->
    <div class="container-fluid px-4 mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-dark rounded p-3">
                <li class="breadcrumb-item active text-white" aria-current="page">Dashboard</li>
                <li class="breadcrumb-item active text-white" aria-current="page">Proses Luar Negeri</li>
            </ol>
        </nav>
        <div class="border rounded p-3">
            <table id="lunas-table" class="display table-responsive table-bordered" style="width:100%">
                <thead style="background-color: #212529; color: white;">
                    <tr>
                        <th>NO</th>
                        <th>ID</th>
                        <th>Nama Barang</th>
                        <th>Total Harga</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</main>
{{ template "footer" . }}
<script type="text/javascript">
    var csrfToken = document.querySelector('input[name="_csrf"]').value;

    const itemTable = $('#lunas-table').DataTable({
        ajax: '/user/data',
        processing: true,
        serverSide: true,
        searching: true,
        responsive: true,
        lengthMenu: [
            [10, 25, 50, 100, 200],
            [10, 25, 50, 100, 200]
        ],
        dom: 'Blftip',
        buttons: [
            {
                extend: 'copy',
                text: '<i class="fas fa-copy"></i>',
                className: 'btn btn-secondary',
                titleAttr: 'Copy',
                footer:true
            },
            {
                extend: 'excel',
                text: '<i class="fas fa-file-excel"></i>',
                className: 'btn btn-success',
                titleAttr: 'Export to Excel'
            },
            {
                extend: 'pdf',
                text: '<i class="fas fa-file-pdf"></i>',
                className: 'btn btn-danger',
                titleAttr: 'Export to PDF'
            },
            {
                extend: 'print',
                text: '<i class="fas fa-print"></i>',
                className: 'btn btn-info',
                titleAttr: 'Print'
            }
        ],
        columns: [
            { 
                data: null,
                className: 'text-center',
                render: function(data, type, row, meta) {
                    return meta.row + 1;
                }
            },
            { data: "id", className: "text-center", width: "10%" },
            { data: 'name', className: 'text-center' },
            { data: 'email', className: 'text-center' },
            { 
                data: 'aksi',
                className: 'text-center',
                width: '20%',
                render: function(data, type, row, meta){
                    return `
                    <div class="row">
                        <div class="col-auto mb-1">
                            <button class="btn btn-primary btn-xs" id="edit_data" data-bs-toggle="modal" data-bs-target="#updateModal" onclick="updateForm('${row.id}')">Konfirmasi Barang</button>
                        </div>
                    </div>`;
                }
            }
        ]
    });

    document.addEventListener('DOMContentLoaded', function() {
        // Handle form submissions
        handleFormSubmit('formInsert', 'insert');
        handleFormSubmit('formUpdate', 'update');
    });

    function handleFormSubmit(formId, action) {
        if(action == "insert"){
            document.getElementById('formInsert').addEventListener('submit', function(event) {
            event.preventDefault();

            const password = document.getElementById('password').value;
            const passwordConfirmation = document.getElementById('password_confirmation').value;

            if (password !== passwordConfirmation) {
                Swal.fire({
                        title: "Error",
                        text: 'Passwords do not match!',
                        icon: "error"
                    });
                return;
            }

            var formData = new FormData(event.target);
            fetch('/user/insert', {
                method: 'POST',
                headers: {
                    'X-CSRF-Token': formData.get('_csrf')
                },
                body: formData
            }).then(response => {
                return response.json().then(data => {
                    return { status: response.status, body: data };
                });
            }).then(data => {
                if (data.status < 300) {
                    itemTable.ajax.reload();
                    $('#insertModal').modal('hide');
                    document.getElementById('formInsert').reset();
                    Swal.fire({
                        title: "Success",
                        text: data.body.message,
                        icon: "success"
                    });
                } else {
                    Swal.fire({
                        title: "Error",
                        text: data.body.message,
                        icon: "error"
                    });
                }
            }).catch(error => {
                Swal.fire({
                    title: "Something went wrong",
                    text: error.message,
                    icon: "error"
                });
            });
        });
        }
        else if(action == "update"){
            document.getElementById('formUpdate').addEventListener('submit', function(event) {
            event.preventDefault();
            const password = document.getElementById('edit_password').value;
            const passwordConfirmation = document.getElementById('edit_password_confirmation').value;

            if (password !== passwordConfirmation) {
                Swal.fire({
                        title: "Error",
                        text: 'Passwords do not match!',
                        icon: "error"
                    });
                return;
            }

            var formData = new FormData(event.target);
            var id = document.getElementById('edit_id').value;
            fetch(`/user/update/${id}`, {
                method: 'PUT',
                headers: {
                    'X-CSRF-Token': formData.get('_csrf')
                },
                body: formData
            }).then(response => {
                return response.json().then(data => {
                    return { status: response.status, body: data };
                });
            }).then(data => {
                if (data.status < 300) {
                    itemTable.ajax.reload();
                    $('#updateModal').modal('hide');
                    document.getElementById('formUpdate').reset();
                    Swal.fire({
                        title: "Success",
                        text: data.body.message,
                        icon: "success"
                    });
                } else {
                    Swal.fire({
                        title: "Error",
                        text: data.body.message,
                        icon: "error"
                    });
                }
            }).catch(error => {
                Swal.fire({
                    title: "Something went wrong",
                    text: error.message,
                    icon: "error"
                });
            });
        });
        }
    }

    function updateForm(id) {
        fetch(`/user/getData/${id}`)
            .then(response => response.json())
            .then(data => {
                if (data.data) {
                    let user = data.data;
                    document.getElementById('edit_id').value = user.id;
                    document.getElementById('edit_name').value = user.name;
                    document.getElementById('edit_email').value = user.email;
                    document.getElementById('edit_no_telepon').value = user.no_telepon;
                    document.getElementById('edit_alamat').value = user.alamat;
                }
            })
            .catch(error => console.error('Error:', error));
    }

    function deleteData(id) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: "btn btn-success",
                cancelButton: "btn btn-danger"
            },
            buttonsStyling: false
            });
            swalWithBootstrapButtons.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel!",
                reverseButtons: true
            }).then((result) => {
            if (result.isConfirmed) {
                fetch(`/user/delete/${id}`, {
                    method: 'DELETE',
                    headers: {
                        'X-CSRF-Token': csrfToken
                    }
                }).then(response => {
                    return response.json().then(data => {
                        return { status: response.status, body: data };
                    });
                }).then(data => {
                    if (data.status < 300) {
                        itemTable.ajax.reload();
                        swalWithBootstrapButtons.fire({
                            title: "Deleted!",
                            text: data.body.message,
                            icon: "success"
                        });
                    } else {
                        swalWithBootstrapButtons.fire({
                            title: "Deleted Failed!",
                            text: data.body.message,
                            icon: "error"
                        });
                    }
                    
                }).catch(error => {
                    console.log(error);
                    // var statusMessageDiv = document.getElementById('statusMessage');
                    // statusMessageDiv.innerText = `Error: ${error}`;
                });
                
            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire({
                    title: "Cancelled",
                    text: "Your imaginary file is safe :)",
                    icon: "error"
                });
            }
        });
    }
</script>
