{{ template "header" . }}
<main>
    <!-- Modal for Editing User -->
    <div
        class="modal fade"
        id="confirmModal"
        role="dialog"
        tabindex="-1"
        aria-labelledby="confirmModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="confirmModalLabel">Konfirmasi</h1>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formConfirm">
                        <input type="hidden" name="_csrf" value="{{ .csrfToken }}" />
                        <img src id="confirm_image" alt="gambar" style="width: 200px;">
                        <div class="row">
                            <div class="col-3">
                                <p>
                                    <strong>Nama User</strong> <br>
                                    <strong>Nama</strong> <br>
                                    <strong>URL</strong> <br>
                                    <strong>Alamat</strong> <br>
                                    <strong>No Telepon</strong> <br>
                                </p>
                            </div>
                            <div class="col-1">
                                <p>
                                    : <br>
                                    : <br>
                                    : <br>
                                    : <br>
                                    : <br>
                                </p>
                            </div>
                            <div class="col-7">
                                <p>
                                    <span id="confirm_nama_user"></span> <br>
                                    <span id="confirm_nama_barang"></span> <br>
                                    <span id="confirm_url"></span> <br>
                                    <span id="confirm_alamat"></span> <br>
                                    <span id="confirm_no_telepon"></span> <br>
                                </p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="confirm_harga" class="form-label">Harga Barang (dalam Rupiah)</label>
                            <input
                                type="text"
                                class="form-control"
                                id="confirm_harga"
                                name="harga" />
                        </div>
                        <div class="mb-3">
                            <label for="confirm_ongkir" class="form-label">Ongkir</label>
                            <input
                                type="text"
                                class="form-control"
                                id="confirm_ongkir"
                                name="confirm_ongkir"
                                readonly />
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal">
                                Close
                            </button>
                            <button id="button" type="submit" class="btn btn-primary">
                                Konfirmasi
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content -->
    <div class="container-fluid px-4 mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-dark rounded p-3">
                <li class="breadcrumb-item active text-white" aria-current="page">
                    Dashboard
                </li>
                <li class="breadcrumb-item active text-white" aria-current="page">
                    Baru
                </li>
            </ol>
        </nav>
        <div class="border rounded p-3">
            <table
                id="baru-table"
                class="display table-responsive table-bordered"
                cellspacing="0"
                width="100%">
                <thead style="background-color: #212529; color: white">
                    <tr>
                        <th>NO</th>
                        <th>ID</th>
                        <th>Nama User</th>
                        <th>Gambar</th>
                        <th>Nama Barang</th>
                        <th>URL</th>
                        <th>Alamat</th>
                        <!-- <th>Status</th> -->
                        <th>Aksi</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</main>
{{ template "footer" . }}

<script type="text/javascript">
  var csrfToken = document.querySelector('input[name="_csrf"]').value;

  const itemTable = $("#baru-table").DataTable({
    ajax: "/order/data",
    processing: true,
    serverSide: true,
    searching: true,
    responsive: true,
    columnDefs: [
      { orderable: true, targets: 0 },
      { orderable: false, targets: "_all" },
    ],
    lengthMenu: [
      [10, 25, 50, 100, 200],
      [10, 25, 50, 100, 200],
    ],
    dom: "Blftip",
    buttons: [
      {
        extend: "copy",
        text: '<i class="fas fa-copy"></i>',
        className: "btn btn-secondary",
        titleAttr: "Copy",
        footer: true,
      },
      {
        extend: "excel",
        text: '<i class="fas fa-file-excel"></i>',
        className: "btn btn-success",
        titleAttr: "Export to Excel",
      },
      {
        extend: "pdf",
        text: '<i class="fas fa-file-pdf"></i>',
        className: "btn btn-danger",
        titleAttr: "Export to PDF",
      },
      {
        extend: "print",
        text: '<i class="fas fa-print"></i>',
        className: "btn btn-info",
        titleAttr: "Print",
      },
    ],
    columns: [
      {
        data: null,
        className: "text-center",
        render: function (data, type, row, meta) {
            console.log(data);
          return meta.row + 1;
        },
      },
      { data: "id", className: "text-center", width: "10%"},
      { data: "user.name", className: "text-center" },
      {
          data: "barang.gambar",
          className: "text-center",
          render: function (data, type, row, meta) {
          return `
            <img src="/${data}" width="200px">`;
        },
      },
    { data: "barang.nama_barang", className: "text-center" },
      {
        data: "barang.url",
        className: "text-center",
        render: function (data, type, row, meta) {
          return `
            <a href="${data.startsWith("http://") || data.startsWith("https://") ? data : "https://" + data}">
                ${data}
            </a>`;
        },
      },
      { data: "alamat", className: "text-center" },
    //   { data: "status", className: "text-center",
    //     render: function (data, type, row, meta) {
    //       return `<div class="p-2 ${data == "terima" ? "bg-success" : "bg-danger"} text-white rounded-3">
    //         ${toTitles(data)} 
    //         </div>`;
    //     },
    //    },
      {
        data: "aksi",
        className: "text-center",
        width: "10%",
        render: function (data, type, row, meta) {
          return `
            <div class="row">
                <div class="col-auto mb-1">
                    <div class="col-auto mb-1">
                        <button class="btn btn-success btn-xs" id="edit_data" data-bs-toggle="modal" data-bs-target="#confirmModal" onclick="confirmForm('${row.id}')">Konfirmasi</button>
                    </div>
                </div>
                <div class="col-auto mb-1">
                    <button class="btn btn-danger btn-xs" onclick="DeclineData('${row.id}')">Tolak</button>
                </div>
            </div>`;
        },
      },
    ],
  });

  document.addEventListener("DOMContentLoaded", function () {
    // Handle form submissions
    handleFormSubmit("formInsert", "insert");
    handleFormSubmit("formConfirm", "update");
  });

  function handleFormSubmit(formId, action) {
    if (action == "confirm") {
      document
        .getElementById("formConfirm")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          const password = document.getElementById("edit_password").value;
          const passwordConfirmation = document.getElementById(
            "edit_password_confirmation"
          ).value;

          if (password !== passwordConfirmation) {
            Swal.fire({
              title: "Error",
              text: "Passwords do not match!",
              icon: "error",
            });
            return;
          }

          var formData = new FormData(event.target);
          var id = document.getElementById("edit_id").value;
          fetch(`/user/update/${id}`, {
            method: "PUT",
            headers: {
              "X-CSRF-Token": formData.get("_csrf"),
            },
            body: formData,
          })
            .then((response) => {
              return response.json().then((data) => {
                return { status: response.status, body: data };
              });
            })
            .then((data) => {
              if (data.status < 300) {
                itemTable.ajax.reload();
                $("#confirmModal").modal("hide");
                document.getElementById("formConfirm").reset();
                Swal.fire({
                  title: "Success",
                  text: data.body.message,
                  icon: "success",
                });
              } else {
                Swal.fire({
                  title: "Error",
                  text: data.body.message,
                  icon: "error",
                });
              }
            })
            .catch((error) => {
              Swal.fire({
                title: "Something went wrong",
                text: error.message,
                icon: "error",
              });
            });
        });
    }
  }

  function confirmForm(id) {
    fetch(`/order/getData/${id}`)
      .then((response) => response.json())
      .then((data) => {
        if (data.data) {
            data = data.data;
          console.log(data);
    
          document.getElementById("confirm_image").src = "/"+data.gambar;
          document.getElementById("confirm_nama_user").innerHTML = data.user.name;
          document.getElementById("confirm_nama_barang").innerHTML = data.nama_barang;
          document.getElementById("confirm_url").innerHTML = data.url;
          document.getElementById("confirm_alamat").innerHTML = data.alamat;
          document.getElementById("confirm_no_telepon").innerHTML = data.user.no_telepon;
        }
      })
      .catch((error) => console.error("Error:", error));
  }

  function ConfirmDataAction(id) {
    const swalWithBootstrapButtons = Swal.mixin({
      customClass: {
        confirmButton: "btn btn-success",
        cancelButton: "btn btn-danger",
      },
      buttonsStyling: false,
    });
    swalWithBootstrapButtons
      .fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, delete it!",
        cancelButtonText: "No, cancel!",
        reverseButtons: true,
      })
      .then((result) => {
        if (result.isConfirmed) {
          fetch(`/order/confirm/${id}`, {
            method: "PUT",
            headers: {
              "X-CSRF-Token": csrfToken,
            },
          })
            .then((response) => {
              return response.json().then((data) => {
                return { status: response.status, body: data };
              });
            })
            .then((data) => {
                if (data.status < 300) {
                itemTable.ajax.reload();
                swalWithBootstrapButtons.fire({
                  title: "Product Confirmed",
                  text: data.body.message,
                  icon: "success",
                });
              } else {
                swalWithBootstrapButtons.fire({
                  title: "Product Failed to Confirm!",
                  text: data.body.message,
                  icon: "error",
                });
              }
            })
            .catch((error) => {
              console.log(error);
              // var statusMessageDiv = document.getElementById('statusMessage');
              // statusMessageDiv.innerText = `Error: ${error}`;
            });
        } else if (
          /* Read more about handling dismissals below */
          result.dismiss === Swal.DismissReason.cancel
        ) {
          swalWithBootstrapButtons.fire({
            title: "Cancelled",
            text: "Your Cancel Confirm Order!",
            icon: "error",
          });
        }
      });
  }
  function DeclineData(id) {
    const swalWithBootstrapButtons = Swal.mixin({
      customClass: {
        confirmButton: "btn btn-success",
        cancelButton: "btn btn-danger",
      },
      buttonsStyling: false,
    });
    swalWithBootstrapButtons
      .fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, Decline it!",
        cancelButtonText: "No, cancel!",
        reverseButtons: true,
      })
      .then((result) => {
        if (result.isConfirmed) {
          fetch(`/order/decline/${id}`, {
            method: "PUT",
            headers: {
              "X-CSRF-Token": csrfToken,
            },
          })
            .then((response) => {
              return response.json().then((data) => {
                return { status: response.status, body: data };
              });
            })
            .then((data) => {
              if (data.status < 300) {
                itemTable.ajax.reload();
                swalWithBootstrapButtons.fire({
                  title: "Product Confirmed",
                  text: data.body.message,
                  icon: "success",
                });
              } else {
                swalWithBootstrapButtons.fire({
                  title: "Product Failed to Confirm!",
                  text: data.body.message,
                  icon: "error",
                });
              }
            })
            .catch((error) => {
              console.log(error);
              // var statusMessageDiv = document.getElementById('statusMessage');
              // statusMessageDiv.innerText = `Error: ${error}`;
            });
        } else if (
          /* Read more about handling dismissals below */
          result.dismiss === Swal.DismissReason.cancel
        ) {
          swalWithBootstrapButtons.fire({
            title: "Cancelled",
            text: "Your Cancel Decline Order!",
            icon: "error",
          });
        }
      });
  }
</script>
