{{ define "script" }}
<script src="/public/sbadmin/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/public/sbadmin/js/jquery-3.7.1.min.js"></script>
<script src="/public/libs/datatable/datatables.min.js"></script>
<script src="/public/libs/swalfire/sweetalert2.all.min.js"></script>
<script src="/public/libs/custom.js"></script>   
<script src="/public/libs/select2/dist/js/select2.min.js"></script>    

<!-- DataTables Buttons CSS -->
<link href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css" rel="stylesheet">

<!-- DataTables Buttons JS -->
<script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
{{ end }}