{{define "sidenav" }}
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link" href="/dashboard">
                    <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                    Dashboard
                </a>
                <div class="sb-sidenav-menu-heading">Master</div>
                <a class="nav-link" href="/user">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    User
                </a>
                <a class="nav-link" href="/user-admin">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    User Admin
                </a>
                <div class="sb-sidenav-menu-heading">Order</div>
                <a class="nav-link" href="/order">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Baru
                </a>
                <a class="nav-link" href="/belum-bayar">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Belum Bayar
                </a>
                <a class="nav-link" href="/lunas">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Lunas
                </a>
                <a class="nav-link" href="/proses-luar-negeri">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Proses Luar Negeri
                </a>
                <a class="nav-link" href="/proses-dalam-negeri">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Proses Dalam Negeri
                </a>
                <a class="nav-link" href="/selesai">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Selesai
                </a>
                <div class="sb-sidenav-menu-heading">Produk</div>
                <a class="nav-link" href="/produk-rekomendasi">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Produk Rekomendasi
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
    </nav>
</div>
{{end}}